<!DOCTYPE html>
<html ng-app="githubViewer">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="angular.js" type="text/javascript"></script>
		<script src="script.js" type="text/javascript"></script>
		<title>Title Page</title>

		<!-- Bootstrap CSS -->
<!-- 		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
 -->

		
	</head>
	<body >

		<h1 class="text-center">GitHub User</h1>
		<div ng-controller="UserController">
			
              <h2>Enter Project Name</h2>
		<p>
			<input type="text" id="project" 
				placeholder="enter projectname here..."
				ng-model="newproject" />
			<button type="button" 
				id="submitTaskBtn"
				ng-click="submitTask()">Submit</button>
				<br></br>
			<h4>List of {{newproject}} repos</h4>
		        		</p>
				 <ul>
  
<table border=1px>
   <tbody>
     <tr >
       <th scope="col" title="DP">DP</th>
       <th scope="col" title="Project Name">Project Name</th>
       <th scope="col" title="user name">user name</th>
       <th scope="col" title="open date">open date</th>
       <th scope="col" title="open date">DETAILS</th>
     </tr>
     <tr ng-repeat="x in result">
         
         <td >
              
             <a href={{x.html_url}}><img ng-src="{{ x.owner.avatar_url}}" height="100" width="100"/></a>
             
        </td>
         

        <td >
              <a href="" ng-click="showrepo(x)">{{ x.name }}</a>
             
        </td>
           
        <td>
              {{ x.owner.login }}
             
        </td>
          

        <td >
              {{ x.created_at }}
            
       </td>
        
              <td ng-show="x.gggg">
                 {{x.name}}
                 {{x.id}}
                 {{x.owner.login}}
                
              </td> 
              
   </tr>
 </tbody>
 </table>


		</div>

		 <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
		<!--Bootstrap JavaScript-->
		<!-- /*<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*/ --> 
	</body>
</html>