<!DOCTYPE HTML>
<html ng-app="todo">
	<head>
		<title>some ng-magic!</title>
		<style type="text/css">
			.complete {
				text-decoration: line-through;
			}
			.even {
				color: red;
			}
			.task {
				font-weight: bold;
			}
		</style>
	</head>

	<body ng-controller="TodoController" ng-init="init(); newTask='hello';">
		<h2>TODO</h2>
		<p>
			<input type="text" id="task" 
				placeholder="enter task here..."
				ng-model="newTask" />
			<button type="button" 
				id="submitTaskBtn"
				ng-click="submitTask()">Submit</button>
				{{newTask}}
		</p>

		<hr/>
		<h4>My Tasks</h4>
		{{tasks}}
		<ul id="tasks">
			<li ng-repeat="task in tasks"
				class="task"
				ng-class="{complete:task.completed, even: $index%2===0}">
				<input type="checkbox" 
					ng-model="task.completed" />{{task.name}}
			</li>
		</ul>

		<p>{{getCompletedTasks()}}/{{tasks.length || 0}} tasks completed</p>
		<!-- <p>{{allComplete()}} left</p> -->
          <!--  <p id="notcompletedTasks ">{{notcompletedTasks}} </p> -->
		 <a href=""  ng-click="archiveTask()">Archive</a> | <a href="" ng-click="allComplete()"> Complete All</a> 
  
		




		<script type="text/javascript" src="/bower_components/angularjs/angular.js"></script>
		<script type="text/javascript" src="js/todo-ng.js"></script>
	</body>
</html>