

header{

position: relative;
    padding: 100px;
    /* width: 100%; */
    height: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(mobback4.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
    -o-background-size: cover;




}

header .header-content{
position: relative;
/* width: 100%; */
     padding: 173px 15px;
    text-align: center;
}


  header .header-content .header-content-inner .carousel-indicators{
 position: absolute;
 padding: 275px;
 
 } 

 .about-section {
    height: 100%;
    
    
    background: #eee;
}


.stats-section {
    height: 100%;
    
    
    background: white;
}